cms.patarutera.pe, www.cms.patarutera.pe {
    # Caddy detectará estos nombres de host y automáticamente
    # obtendrá los certificados SSL/TLS de Let's Encrypt.
    
    # 1. Configuración de archivos estáticos
    # Esto apunta a la carpeta /srv dentro del contenedor.
    # Usaremos esto como la ubicación de tu CMS.
    reverse_proxy cmspatarutera-payload-1:3000
}

paymentserver.pdsviajes.com, www.paymentserver.pdsviajes.com {
    reverse_proxy pasarelabackend-prod-1:8000
  }
